<!DOCTYPE html>
<!--

        
                                                                   ____ 
             ---------        _    ---------                      |    | --------- |
                 |     |\  | |  \      |       /\   |\  |         |    |     |     |
                 |     | \ | |   )     |      /--\  | \ |         |    |     |     |
                 |     |  \| |_ /      |     /    \ |  \|         |    |     |     |
             ---------             ---------                      |____| --------- |____
                                                                                         
                                                           T R A I N I N G   P O R T A L
														   
														   
-->														   
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="application-name" content="IOCL - Guwahati Refinery Training Centre Portal">
<meta name="description" content="This portal caters to the interaction between the trainees and their mentors during industrial training at IOCL - Guwahati Refinery">
<meta name="keywords" content="Guwahati refinery,IOCL,Indian Oil Corporation Limited.,Indian Oil,Training portal,portal,Indian Oil Portal,Indian Oil Training Portal">
<meta name="author" content="Information Systems Department,Guwahati Refinery,Indian Oil Corporation Limited">
<meta http-equiv="refresh" content="100">
<link rel="shortcut icon" href="../indian oil.png" type="image/x-icon">
<link rel="apple-touch-icon" href="../apple icon.png">
<link rel="stylesheet" type="text/css" href="C:\Users\Gunjit Kandpal\Documents\Study\Dreamweaver\Indian Oil Projects\CSS\CSS 1.css">
<title>IndianOil Corporation : Guwahati Refinery : Trainee Portal</title>
<style>
form {margin: 0 auto;width:300px;color:rgb(2,22,79); font-size:18px;font-family:"Times New Roman", Times, serif;}
fieldset{border: 10px double rgb(2,22,79);border-radius:10px}
input {background-color:#FFFF99;color:rgb(2,22,79); font-size:18px;font-family:"Times New Roman", Times, serif;border-radius:10px} 
#enter{clear:both;position:relative;left:170px;}
</style>
</head>
<body>
<div id="container" style="width:1350px">
<div id="header"><a href="Indian Oil project 1.html"><img src="indian oil logo with text.jpg" style="float:left;" alt="Indian Oil Logo" ></a>
<a href="Indian Oil project 1.html"  style="text-decoration: none;"><h2 style="position:static;left:1000px;">Guwahati Refinery</h2></a>
<a href="Indian Oil project 1.html" style="text-decoration: none;"><h2 style="position:static;left:500px;">Training Centre</h2></a>
</div>
<hr>
<div id="mark"><marquee behavior="scroll" direction="left">*** Welcome to IOCL - Guwahati refinery Training Centre Portal ***</marquee></div>
<div id="content" style="padding:99px;border-radius:10px;border:10px double rgb(242,111,33);">
<p><i id="quote">"Work is Worship"</i></p>
<form name="input" action="" method="POST">
<fieldset>
<legend><b><span style="font-size:24px; font-family:"Times New Roman", Times, serif;">Login</span></b></legend>
Username : <input type="text" name="user" size="30" placeholder ="Your username"><br>
Password : <input type="password" name="pwd" size="30" placeholder ="Your password">
<input id="enter" type="submit" value="Submit">
</fieldset>
</form></div>
<div id="footer" ><p style="text-align:center">Copyright © Indian Oil Corporation Ltd.</p></div>
</div>
</body>
</html>


